<button id="back" class="btn btn-outline-secondary" (click)="onBackClick()">Back</button>
<button id="addEntry" class="btn btn-outline-secondary mx-2" (click)="onAddEntryClick()">Add Entry</button>

<div class="jumbotron my-3">
  <h4 class="display-4">{{ raffle.name | uppercase}}</h4>
  <p *ngIf="raffle.prizeDescription" class="lead">Description: {{ raffle.prizeDescription }}</p>
  <hr class="my-4">
  <p>People: {{ peopleCount}} </p>
  <p>Total Entries: {{ totalEntries }}</p>
  <canvas #myCanvas id="canvas">{{ chart }}</canvas>
</div>
